<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informática</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;600;700;800;900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/normalize.css">
</head>
<body>
    <nav>

        <nav class="nav">
            <div class="nav__left">
                <img src="~/img/Escudo CTP Oreamuno.png" alt="logo-ctpo" />
                <div class="nav__links">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a href="" style="color: transparent">Especialidades</a></li>
                        <li><a href="" style="color: transparent">Conocenos</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav__right">
                <ul>
                    <li><a href="" class="" style="color: transparent">Contáctanos</a></li>
                </ul>
            </div>
        </nav>


    </nav>

    <div class="img_especialidad">

        <div class="especialidad_text">

            <h1>INFORMÁTICA <span><br>en Desarrollo de Software</span></h1>
        </div>
       
    </div>

    <br>

    <div class="segundo-texto-especialidad">

        <h2>Conocé más sobre nuestra especialidad</h2>

        <br>

        <div class="container">

            <div class="flex">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/n_ZmkGWay2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p> <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio et accusamus fugit iure ab ipsam consequatur provident dolore itaque magnam pariatur ducimus incidunt eos, labore iste ut delectus temporibus? Fugit.. </p>

                <div>

                    <h3>Certificaciones</h3>

                    <p class="texto_certificaciones"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio et accusamus fugit iure ab ipsam consequatur provident dolore itaque magnam pariatur ducimus incidunt eos, labore iste ut delectus temporibus? Fugit.. </p>

                </div>

                <div>

                    <h3>Plan de estudios</h3>

                    <br>
                    <a href="https://drive.google.com/drive/folders/1C0MYJVanPWbQTb13AfrXynUXwT69JywS?usp=sharing" class="btn_plan">Descargar</a>


                </div>

            </div>


        </div>




    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__flex">
                <div class="footer_text">
                    <h3>Contacto</h3>
                    <p>Tel: 2591 2973 / 2551 4409</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>